.a {
  color: #DFB94A;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #39576F;
  box-shadow: 0 5px #DFB94A;
  transition: 0.3s;
}
.a:hover {
  box-shadow: 0 3px #DFB94A;
  transform: translate(0, 2px);
}
.a:active {
  box-shadow: none;
  transform: translate(0, 5px);
}
